## 设置Socket服务端口号。
## 小于等于零表示不启用Socket服务。
#tephra.ctrl.socket.port = 0

## 设置Socket服务最大处理线程数。
#tephra.ctrl.socket.max-thread = 64

## 设置是否将相同请求者的请求放到队列中顺序执行。
## 如果设置为true时，则同一请求者的请求将被添加到单独的队列中顺序执行。
## 根据请求的Session ID区分是否为相同请求者。
#tephra.ctrl.socket.queue = true

## 设置Socket返回数据压缩阀值。
## 当返回数据大小超过此设置时，将对数据进行压缩；否则不压缩。
#tephra.ctrl.socket.zip-size = 4096