## 设置Wormhole服务根URL地址。
## 建议使用内网地址，并在wormhole设置IP白名单。
## 如：http://localhost:8192
#tephra.wormhole.root =

## 设置Wormhole图片保存服务URL地址。
## 如果未设置则默认使用：{tephra.wormhole.host}/whimg/save。
## 建议使用内网地址，并在wormhole设置IP白名单。
## 如：http://localhost:8192/whimg/save
#tephra.wormhole.image =

## 设置Wormhole文件保存服务URL地址。
## 如果未设置则默认使用：{tephra.wormhole.host}/whfile/save。
## 建议使用内网地址，并在wormhole设置IP白名单。
## 如：http://localhost:8192/whfile/save
#tephra.wormhole.file =

## 设置Wormhole外网地址集。
## 多个地址间以逗号分隔。
## 如：localhost,192.168.1.68
#tephra.wormhole.hosts =