## 微信公众号处理线程数。
#tephra.weixin.mp.thread = 5
## 微信公众号设置，为空表示不启用微信功能。
## * appId 微信公众号AppID，不可为空；
## * secret 微信公众号密钥，不可为空；
## * token 微信公众号服务器认证Token；
## * mchId 微信公众号支付商户号，为空表示不启用微信公众号支付接口；
## * mchKey 微信公众号支付密钥，为空表示不启用微信公众号支付接口。
#tephra.weixin.mp.config = [{appId:"", secret:"",token:"", mchId:"", mchKey:""}]
