## 微信公众号处理线程数。
#tephra.weixin.thread = 5

## 微信公众号设置，为空表示不启用微信功能。
## * appId 微信公众号AppID，不可为空；
## * secret 微信公众号密钥，不可为空；
## * token 微信公众号服务器认证Token；
## * mchId 微信公众号支付商户号，为空表示不启用微信公众号支付接口；
## * mchKey 微信公众号支付密钥，为空表示不启用微信公众号支付接口。
#tephra.weixin.config = [{appId:"", secret:"",token:"", mchId:"", mchKey:""}]

## 是否自动刷新访问Token。
## * true 是；
## * false 否。
## 在集群环境中，同一个AppID仅允许一个节点可自动刷新，以免因多节点同时刷新导致Token实效。
#tephra.weixin.refresh = false
