## 设置Carousel URL地址。
## 为空表示不启用Carousel。
## 如：tephra.carousel.url = http://carousel:port。
#tephra.carousel.url =

## 设置本机服务URL地址。
## 为空表示不启用发现服务。
## 如：tephra.carousel.service-url = http://tephra:port。
#tephra.carousel.service.url =

## 设置自动发布所有服务为发现服务。
## true - 自动发布；
## false - 不自动发布。
#tephra.carousel.service.all = false
